main{
    display: flex;
    justify-content: center;
    padding-top: 200px
}
.container{
    display: flex;
}
form{
    width: 500px;
}
fieldset{
    height: 150px;
}
legend{
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
label{
    font-size: 1.3rem;
}
#nombre, #apellido{
    width: 85%;
    height: 20px;
    margin-top: 8px;
}
.datos{
    margin-top: 20px;
    display: flex;
    gap: 40px;
    height: 80px;
}
.cajas{
    display: flex;
    flex-direction: column;
}
#numero, #ninos{
    width: 65px;
    height: 25px;
    text-align: center;
    font-size: 17px;
}
.radio{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    
}
.comidas{
    margin: 3px;
}
.botones{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
button{
    font-size: 20px;
    border: 2px solid black;
    border-radius: 9px;
    padding: 10px;
}
.green{
    background-color: rgb(24, 226, 24);
}
.red{
    background-color: rgb(225, 139, 139);
}